/* Import Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Reset margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for the body element */
body {
  width: 100vw;
  height: 100vh;
  background-color: #EBF2FD;
  font-family: 'Poppins', sans-serif;
}

/* Center the form container on the page */
.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style for the form section */
.form-section {
  width: 80vw;
  height: 80vh;
  max-width: 800px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #e7effc;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Styling for the login form section */
.login-form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

/* Styling for the reset password section */
.reset-password-section {
  width: auto !important;
}

/* Styling for reset password form */
#resetPasswordForm {
  justify-content: space-around !important;
}

/* Styling for the logo */
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  font-family: 'Cherry Bomb One';
}

/* Styling for the first part of the logo */
.logo-first {
  color: orangered;
}

/* Styling for login text */
.login-text {
  text-align: left;
  font-size: 35px;
  font-weight: 600;
}

/* Styling for login quote */
.login-quote {
  font-size: 12px;
}

/* Styling for form elements */
form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 12px 0 10px 0;
}

/* Styling for form inputs */
form input {
  width: 100%;
  height: 45px;
  font-size: 16px;
  border-radius: 8px;
  padding: 0 10px;
  outline: none;
  border: none;
  background-color: #E7EFFC;
}

/* Styling for the input box with underline effect */
form .input-box {
  position: relative;
  padding: 15px 0 0 2px;
}

/* Styling for the underline effect of inputs */
form .underline::before {
  content: '';
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}

form .underline::after {
  content: '';
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: linear-gradient(to right, #33797E 0%, #2d878d 100%);
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease;
}

form .input-box input:focus ~ .underline::after,
form .input-box input:valid ~ .underline::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Styling for the forgot password link */
.forgot-password {
  font-size: 13px;
  padding-top: 3px;
  text-align: end;
}

/* Styling for anchor tags */
a {
  text-decoration: none;
  color: #2C35CE;
}

/* Styling for submit button */
.input-box input[type="submit"] {
  margin-top: 2px;
  background: linear-gradient(to right, #33797E 0%, #2d878d 100%);
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.input-box input[type="submit"]:hover {
  letter-spacing: 1px;
  background: linear-gradient(to right, #2d878d 0%, #33797E 100%);
}

/* Styling for sign-up text */
.sign-up-text {
  text-align: end;
  font-size: 13px;
  padding-top: 10px;
  color: grey;
}

.sign-up-text > span {
  text-align: end;
  color: #2C35CE;
  cursor: pointer;
}

/* Styling for Google sign-in button */
.sign-in-google {
  border: 1px solid #4081EC;
  height: 45px;
  width: 300px;
  font-size: 15px;
  text-decoration: none;
  padding-left: 20px;
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-align: center;
  background: linear-gradient(to right, #33797E 0%, #2d878d 100%);
}

i.fab.fa-google-plus-g {
  color: #fff;
  font-size: 19px;
  margin-right: 8px;
}

.sign-in-google a {
  color: #fff;
}

.sign-in-google:hover {
  letter-spacing: 1px;
  background: linear-gradient(to right, #2d878d 0%, #33797E 100%);
}

/* Styling for the partition between forms */
.partition {
  color: grey;
  padding: 7px 5px;
}

/* Styling for the animation section */
.animation-section {
  border-left: 4px solid #E6DFDF;
}

/* Styling for the sign-up form section */
.signup-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  display: none;
}

/* Styling for error messages */
.error {
  font-size: 13.5px;
  color: red;
}

/* Styling for the back page button */
.back-page {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #337A7F; /* Blue background */
  color: white; /* White arrow */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 6px;
}

.back-page i {
  font-size: 24px;
  transition: transform 0.3s ease; /* Add transition to the icon */
}

.back-page:hover {
  background-color: #0C1B1C; /* Darker blue on hover */
  transform: scale(1.1); /* Scale effect on hover */
  color: white;
}
